.link {
  text-decoration: none;
  margin: 12px 0;
}

.link:hover .card {
  transform: translateY(-5px);
}

.image {
  max-width: 96px;
  max-height: 96px;
  background-color: transparent;
  margin-left: auto;
  margin: 0 !important;
}

.card {
  height: 100%;
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.content {
  padding: 0 16px;
  flex: 1;
  min-width: 0;
}

.centering {
  margin: 0 auto;
  text-align: center;
}

.title {
  margin: 8px 0;
  color: #000;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  margin: 8px 0;
  font-size: 14px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.href {
  margin: 8px 0;
  font-size: 14px;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
