.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 100px 5%;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 10px;
}

.contents {
  display: flex;
  justify-content: center;
}

@media (min-width: 1000px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(286px, 1fr));
    gap: 20px;
    align-items: stretch;
    margin: 20px 0;
  }
}

@media (max-width: 1000px) {
  .cards {
    display: grid;
    margin: 40px 0;
    gap: 20px;
  }
}