.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 100px 5%;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 10px;
}

.contents {
  display: flex;
  margin-left: 5%;
  justify-content: space-evenly;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 100px 0;
}