.container {
  position: sticky;
  top: 0;
  padding-top: 4rem;
  margin-left: 2rem;
}

.title {
  font-size: 1.25rem; /* Tailwind's text-xl */
  border-left-width: 4px;
  border-left-color: var(--secondary-color); /* Assuming you have a CSS variable for the secondary color */
  padding-left: 0.25rem;
}

.toc {
  padding-left: 0;
  padding-bottom: 2rem;
  font-size: 1rem; /* Tailwind's text-base */
}
  