.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 229px;
}

.main span {
  display: inline-block;
  font: bold 200% Consolas, Monaco, monospace;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 400;
  border-right: 2px solid transparent;
  animation: typing 11s steps(23) infinite, caret 1.5s steps(1) infinite;
}

@keyframes typing {
  0%, 50% {
    width: 0;
  }
  25%, 75% {
    width: 23ch;
  }
  100% {
    width: 0;
  }
}

@keyframes caret {
  50% {
    border-right-color: currentColor;
  }
}
