.typing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.typing span {
  font: bold 200% Consolas, Monaco, monospace;
  color: #fff;
  overflow: hidden;
  font-weight: 500;
  border-right: 2px solid transparent;
  text-shadow: 0 0 10px #000;
}

@keyframes caret {
  50% {
    border-right-color: currentColor;
  }
}

@keyframes move-y {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}

.main {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  overflow: hidden;
}

.heroImage {
  width: 110%;
  height: 110%;
  filter: blur(4px) brightness(0.7);
  object-fit: cover;
  background-color: #000;
}

.heroItems {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heroIcon {
  height: 150px;
  width: 150px;
}

.mediaIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.icon {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  color: #fff;
}

.icon:hover {
  opacity: 0.8;
}

.scrollIcon {
  display: inline;
  position: absolute;
  bottom: 5%;
  transform: translate(-50%, 50%);
  width: 50px;
  height: 50px;
  color: #fff;
  animation: move-y .5s infinite alternate ease-in-out;
  cursor: pointer;
}

.profile {
  background-color: #fff;
}

.skillsList {
  background-color: #f9f9f9;
}

.articlesList {
  background-color: #fff;
}

.timeLine {
  background-color: #f9f9f9;
}

.profileImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}