.main {
  margin-top: 106px; 
}

.container {
  max-width: 1120px;
  margin: 24px auto;
  padding: 0 5%;
  min-height: 75vh;
}

.articlesList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}