.container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin: 0 auto;
}

.mainContent {
  width: 75%;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.post {
  background-color: #f3f4f6; /* Tailwind's bg-gray-100 */
  padding: 2rem;
}

.sidebar {
  width: 25%;
}
  